* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer nav,
footer div{
    border: 1px solid grey;
    color: #666;
    padding: 10px;
}
footer li{
    display: inline-block;
    margin: 10px;
}
footer a,
footer a:link,
footer a:visited {
    color: #666666;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a:active {
    color: red;
}
footer ul:first-of-type {
    float: left;
}
footer ul:last-of-type {
    float: right;
}
.navTop {
    text-align: right;
    padding: 10px 20px 0px 0px;
}
.navTop li {
    display: inline-block;
    margin-right: 10px;
}
.navTop a {
    color: black;
    text-decoration: none;
}
.navTop a:hover {
    text-decoration: underline;
}
.navTop button {
    color: white;
    background-color: blue;
    padding: 6px; 20 px;
}
.main-content {
    width: 600px;
    margin: 120px auto 0;
    text-align: center;
}
.main-content img,
.main-content input,
.main-content p {
    display: block;
    margin: 20px auto;
}
.main-content button {
    padding: 7px 15px;
    font-size: 14px;
}
.main-content img {
    width: 400px;
}
.main-content input {
    padding: 5px;
    width: 100%;
}